demo_FrontEnd/Epiron.Front.Bases/Service References/ServiceReference1/wsAcceso.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="ValidarAplicacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Par_Event_Tag" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Par_AppInstanceGUID" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="Par_LoginHost" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Par_LoginIP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidarAplicacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidarAplicacionResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TiposAutenticacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Par_Event_Tag" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Par_AppInstanceGUID" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="Par_LoginHost" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Par_LoginIP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TiposAutenticacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TiposAutenticacionResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserAutenticacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Par_Event_Tag" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Par_AppInstanceGUID" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="Par_LoginHost" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Par_LoginIP" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Par_AutTypeGUID" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="Par_UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Par_UserKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Par_DomainGUID" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserAutenticacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserAutenticacionResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MenuPermisos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Par_Event_Tag" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Par_AppInstanceGUID" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="Par_DomainGUID" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="Par_MenuGUID" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MenuPermisosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MenuPermisosResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DominioInstancia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Par_ApplicationInstanceGUID" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="Par_AuthenticationTypeTag" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DominioInstanciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DominioInstanciaResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidarAplicacionSoapIn">
    <wsdl:part name="parameters" element="tns:ValidarAplicacion" />
  </wsdl:message>
  <wsdl:message name="ValidarAplicacionSoapOut">
    <wsdl:part name="parameters" element="tns:ValidarAplicacionResponse" />
  </wsdl:message>
  <wsdl:message name="TiposAutenticacionSoapIn">
    <wsdl:part name="parameters" element="tns:TiposAutenticacion" />
  </wsdl:message>
  <wsdl:message name="TiposAutenticacionSoapOut">
    <wsdl:part name="parameters" element="tns:TiposAutenticacionResponse" />
  </wsdl:message>
  <wsdl:message name="UserAutenticacionSoapIn">
    <wsdl:part name="parameters" element="tns:UserAutenticacion" />
  </wsdl:message>
  <wsdl:message name="UserAutenticacionSoapOut">
    <wsdl:part name="parameters" element="tns:UserAutenticacionResponse" />
  </wsdl:message>
  <wsdl:message name="MenuPermisosSoapIn">
    <wsdl:part name="parameters" element="tns:MenuPermisos" />
  </wsdl:message>
  <wsdl:message name="MenuPermisosSoapOut">
    <wsdl:part name="parameters" element="tns:MenuPermisosResponse" />
  </wsdl:message>
  <wsdl:message name="DominioInstanciaSoapIn">
    <wsdl:part name="parameters" element="tns:DominioInstancia" />
  </wsdl:message>
  <wsdl:message name="DominioInstanciaSoapOut">
    <wsdl:part name="parameters" element="tns:DominioInstanciaResponse" />
  </wsdl:message>
  <wsdl:portType name="wsAccesoSoap">
    <wsdl:operation name="ValidarAplicacion">
      <wsdl:input message="tns:ValidarAplicacionSoapIn" />
      <wsdl:output message="tns:ValidarAplicacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TiposAutenticacion">
      <wsdl:input message="tns:TiposAutenticacionSoapIn" />
      <wsdl:output message="tns:TiposAutenticacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserAutenticacion">
      <wsdl:input message="tns:UserAutenticacionSoapIn" />
      <wsdl:output message="tns:UserAutenticacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MenuPermisos">
      <wsdl:input message="tns:MenuPermisosSoapIn" />
      <wsdl:output message="tns:MenuPermisosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DominioInstancia">
      <wsdl:input message="tns:DominioInstanciaSoapIn" />
      <wsdl:output message="tns:DominioInstanciaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsAccesoSoap" type="tns:wsAccesoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidarAplicacion">
      <soap:operation soapAction="http://tempuri.org/ValidarAplicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TiposAutenticacion">
      <soap:operation soapAction="http://tempuri.org/TiposAutenticacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserAutenticacion">
      <soap:operation soapAction="http://tempuri.org/UserAutenticacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MenuPermisos">
      <soap:operation soapAction="http://tempuri.org/MenuPermisos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DominioInstancia">
      <soap:operation soapAction="http://tempuri.org/DominioInstancia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsAccesoSoap12" type="tns:wsAccesoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidarAplicacion">
      <soap12:operation soapAction="http://tempuri.org/ValidarAplicacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TiposAutenticacion">
      <soap12:operation soapAction="http://tempuri.org/TiposAutenticacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserAutenticacion">
      <soap12:operation soapAction="http://tempuri.org/UserAutenticacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MenuPermisos">
      <soap12:operation soapAction="http://tempuri.org/MenuPermisos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DominioInstancia">
      <soap12:operation soapAction="http://tempuri.org/DominioInstancia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsAcceso">
    <wsdl:port name="wsAccesoSoap" binding="tns:wsAccesoSoap">
      <soap:address location="http://corrsf71des01:9501/wsAcceso.asmx" />
    </wsdl:port>
    <wsdl:port name="wsAccesoSoap12" binding="tns:wsAccesoSoap12">
      <soap12:address location="http://corrsf71des01:9501/wsAcceso.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>