redes-sockets-protocolos/Jabber/agsXmpp/Allus.Cnn.Jabber/Allus.Cnn.Common/Service References/svc.asyncproxy/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Allus.Cnn.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Allus.Cnn.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfColaborator">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Colaborator" nillable="true" type="tns:Colaborator" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfColaborator" nillable="true" type="tns:ArrayOfColaborator" />
  <xs:complexType name="Colaborator">
    <xs:sequence>
      <xs:element minOccurs="0" name="ImageURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="MachineIp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Colaborator" nillable="true" type="tns:Colaborator" />
</xs:schema>