WEB/Security/SecureWcf/client.context/Service References/ServiceReference1/CoreSecurity2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SecureWcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SecureWcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WCFServiceError">
    <xs:sequence>
      <xs:element minOccurs="0" name="Assembly" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Class" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InnerMessageException" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Namespace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Severity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WCFServiceError" nillable="true" type="tns:WCFServiceError" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>