WEB/RedesSociales/FacebookReader/FacebookReader/Facebook/Schema/ErrorSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://api.facebook.com/1.0/"
		xmlns="http://api.facebook.com/1.0/"
		elementFormDefault="qualified">

  <xs:element  name="error_response">
      <xs:complexType>
      <xs:sequence>
        <xs:element name="error_code" minOccurs="0" maxOccurs="1" type="xs:int"/>
        <xs:element name="error_msg" minOccurs="0" maxOccurs="1" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
