WEB/MVC/WebAPI/MvcAPI.Connector/Service References/ServiceReference1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8732/WCFAPI/WCFAPIService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/API.Common.BE" />
  <xs:import schemaLocation="http://localhost:8732/WCFAPI/WCFAPIService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCFAPI" />
  <xs:element name="RetrivePMOList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrivePMOListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/API.Common.BE" minOccurs="0" name="RetrivePMOListResult" nillable="true" type="q1:ArrayOfPMOFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrivePMOListParamas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filterName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrivePMOListParamasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFAPI" minOccurs="0" name="RetrivePMOListParamasResult" nillable="true" type="q2:PMOContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>