WEB/MVC/WebAPI/MvcAPI.Connector/Service References/ServiceReference1/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/API.Common.BE" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/API.Common.BE" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPMOFile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PMOFile" nillable="true" type="tns:PMOFile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPMOFile" nillable="true" type="tns:ArrayOfPMOFile" />
  <xs:complexType name="PMOFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="Checked" type="xs:boolean" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasChild" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ParentCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PMOFile" nillable="true" type="tns:PMOFile" />
</xs:schema>