WEB/MVC/WebAPI/MvcAPI.Connector/Service References/ServiceReference1/WCFAPIService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://schemas.microsoft.com/ws/2005/02/mex/bindings" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFAPIService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="tcp_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://schemas.microsoft.com/ws/2005/02/mex/bindings" location="http://localhost:8732/WCFAPI/WCFAPIService/?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8732/WCFAPI/WCFAPIService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8732/WCFAPI/WCFAPIService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8732/WCFAPI/WCFAPIService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/API.Common.BE" />
      <xsd:import schemaLocation="http://localhost:8732/WCFAPI/WCFAPIService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCFAPI" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFAPIService_RetrivePMOList_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrivePMOList" />
  </wsdl:message>
  <wsdl:message name="IWCFAPIService_RetrivePMOList_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrivePMOListResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFAPIService_RetrivePMOListParamas_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrivePMOListParamas" />
  </wsdl:message>
  <wsdl:message name="IWCFAPIService_RetrivePMOListParamas_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrivePMOListParamasResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCFAPIService">
    <wsdl:operation name="RetrivePMOList">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFAPIService/RetrivePMOList" message="tns:IWCFAPIService_RetrivePMOList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFAPIService/RetrivePMOListResponse" message="tns:IWCFAPIService_RetrivePMOList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrivePMOListParamas">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFAPIService/RetrivePMOListParamas" message="tns:IWCFAPIService_RetrivePMOListParamas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFAPIService/RetrivePMOListParamasResponse" message="tns:IWCFAPIService_RetrivePMOListParamas_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="tcp" type="tns:IWCFAPIService">
    <wsp:PolicyReference URI="#tcp_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="RetrivePMOList">
      <soap12:operation soapAction="http://tempuri.org/IWCFAPIService/RetrivePMOList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrivePMOListParamas">
      <soap12:operation soapAction="http://tempuri.org/IWCFAPIService/RetrivePMOListParamas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFAPIService">
    <wsdl:port name="tcp" binding="tns:tcp">
      <soap12:address location="net.tcp://localhost:8001/WCFAPIService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8001/WCFAPIService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>santana\moviedo</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="web" binding="i0:web">
      <soap12:address location="http://localhost:8732/WCFAPI/WCFAPIService/mex" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:8732/WCFAPI/WCFAPIService/mex</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>